/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 *  这里是对 SmartAdmin 中css样式的一些修改
 */

#header {
    background-color: #000;
    /*background-image: linear-gradient(to bottom, #000, #000);*/
    background-image:url(/img/home/middle.png);
    background-repeat: repeat-x;
    display: block;
    height: 100px;
    margin: 0;
    padding: 0 13px 0 0;
    position: relative;
    z-index: 905;
}

/*对grid中文本对齐方式的修改*/
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: middle;
}

#logo {
    margin-top: 5px;

}