@{
    ViewBag.Title = "首页";
}

<style>
    .list-group-item.active > .badge, .nav-pills > .active > a > .badge {
        background-color: #3276b1;
        color: #fff;
    }

    .badge {
        font-size: 16px;
    }

    .jarviswidget #calendar {
        margin-top: 0px;
    }

    .fc-grid .fc-day-content {
        background-color: #eee;
    }

    /**菜单选中后的背景颜色*/
    .myactive {
        background-color: #99cccc;
    }
</style>



<div class="row">


    <div class="col-sm-12 " style="margin-bottom: 5px; margin-top: 5px;">
        <input type="hidden" id="hidId" />
        <div class="jarviswidget" style="min-height:350px;">

            <div class="widget-body row">

                <!--菜单工具栏-->

                <div id="calendar" class="fc fc-ltr">
                    <div class="fc-content" style="">
                        <div class="fc-view fc-view-month fc-grid" unselectable="on" style="-moz-user-select: none;">

                            <table cellspacing="0" style="width:100%" class="fc-border-separate">

                                <tbody>
                                    <tr class="fc-week fc-first">
                                        <td class="fc-day fc-sun fc-widget-content fc-other-month fc-past col col-md-3"  style="cursor:pointer">
                                            <div style="height: 60px;">
                                                <div class="fc-day-content">
                                                    <div id="executeIndicatParam" class="myactive" style="position: relative; height: 60px; text-align:center" data-bind="click:$root.executeIndicatParam"><img src="~/img/home/ico32_01.png" style=" margin-top: 2%" id="ImgParam" /><div class="font-md" style="color: #3a23b9">显示参数</div></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="fc-day fc-mon fc-widget-content fc-other-month fc-past col col-md-3" style="cursor:pointer">
                                            <div style="height: 60px;">
                                                <div class="fc-day-content">
                                                    <div id="executeIndicatData" style="position: relative; height: 60px; text-align: center" data-bind="click:$root.executeIndicatData"><img src="~/img/home/ico32_04.png" style=" margin-top: 2%" id="ImgData" /><div class="font-md" style="color: #3a23b9">显示数据</div></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="fc-day fc-tue fc-widget-content fc-other-month fc-past col col-md-3" style="cursor:pointer">
                                            <div style="height:60px;">
                                                <div class="fc-day-content">
                                                    <div id="executeFormatRowsAndCols" style="position: relative; height: 60px; text-align: center" data-bind="click:$root.executeFormatRowsAndCols"><img src="~/img/home/ico32_06.png" style=" margin-top: 2%" id="ImgForamt" /><div class=" font-md" style="color: #3a23b9">行列转换</div></div>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="fc-day fc-wed fc-widget-content fc-other-month fc-past col col-md-3" style="cursor:pointer">
                                            <div style="height: 60px;">

                                                <div class="fc-day-content">
                                                    <div id="executeGraphics" style="position: relative; height: 60px; text-align: center" data-bind="click:$root.executeGraphics"><img src="~/img/home/ico32_14.png" style=" margin-top: 2%" id="ImgGraphics" /><div class="font-md" style="color: #3a23b9">作图</div></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <!--/end  菜单工具栏-->
                <!--参数模块-->
                <div id="indicatParam" style="margin-top:10px">


                    <!--指标树-->
                    <div class="row ">

                        <article class="col-sm-12 col-md-6 col-lg-12 sortable-grid ui-sortable">



                            <div  id="wid-id-1" class="jarviswidget jarviswidget-color-yellow jarviswidget-sortable col col-md-4" role="widget">


                                <header role="heading">

                                    <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
                                    <h2>指标树 </h2>
                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                </header>
                                <!-- widget div-->
                                <div role="content" style="height:200px;overflow-y:scroll">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <ul id="Indicattree" class="ztree"></ul>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>

                            <div id="wid-id-7" class="jarviswidget jarviswidget-color-yellow jarviswidget-sortable col col-md-4" role="widget">

                                <header role="heading">
                                    <div class="widget-toolbar">

                                        <button type="button" class="btn btn-success " id="btnIndicatSelectAll"
                                                data-bind="click: $root.IndicatSelectAll">
                                            全选
                                        </button>
                                        <button type="button" class="btn btn-success " id="btnIndicatUnSelectAll"
                                                data-bind="click: $root.UnIndicatSelectAll">
                                            全不选
                                        </button>
                                    </div>
                                    <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
                                    <h2>可选指标 </h2>
                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                </header>
                                <!-- widget div-->
                                <div role="content" style="height:200px;overflow-y:scroll">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <form class="smart-form" action="">

                                            <fieldset>
                                                <section>
                                                    <div class="row">
                                                        <div class="col col-12" id="selectableIndicator">

                                                        </div>


                                                    </div>
                                                </section>

                                            </fieldset>



                                        </form>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>

                            <div id="wid-id-4" class="jarviswidget jarviswidget-color-yellow jarviswidget-sortable col col-md-4" role="widget">

                                <header role="heading">
                                    <div class="widget-toolbar">
                                        <button type="button" class="btn btn-success  " id="btnSysRoleAdd"
                                                data-bind="click: $root.DeleteSelectIndicator">
                                            清空
                                        </button>
                                    </div>
                                    <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
                                    <h2>已选指标 </h2>
                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                </header>
                                <!-- widget div-->
                                <div role="content" style="height:200px;overflow-y:scroll">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <form class="smart-form" action="">

                                            <fieldset>
                                                <section>
                                                    <div class="row">
                                                        <div class="col col-12" id="selectedIndicator">

                                                        </div>


                                                    </div>
                                                </section>

                                            </fieldset>



                                        </form>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>

                        </article>



                    </div>



                    <!--/end  指标树-->
                    <!--地区树-->

                    <div class="row">


                        <article class="col-sm-12 col-md-6 col-lg-12 sortable-grid ui-sortable">

                            <div data-widget-editbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-color-yellow jarviswidget-sortable col col-md-4" role="widget">

                                <header role="heading">

                                    <span class="widget-icon"> <i class="fa fa-map-marker "></i> </span>
                                    <h2>地区 </h2>
                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                </header>
                                <!-- widget div-->
                                <div role="content" style="height:200px;overflow-y:scroll">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <ul id="Areatree" class="ztree"></ul>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>



                            <div data-widget-editbutton="false" id="wid-id-5" class="jarviswidget jarviswidget-color-yellow jarviswidget-sortable col col-md-8" role="widget">

                                <header role="heading">
                                    <div class="widget-toolbar">
                                        <button type="button" class="btn btn-success  " id="btnSysRoleAdd"
                                                data-bind="click: $root.DeleteSelectedArea">
                                            清空
                                        </button>
                                    </div>
                                    <span class="widget-icon"> <i class="fa fa-map-marker "></i> </span>
                                    <h2>已选地区 </h2>
                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                </header>
                                <!-- widget div-->
                                <div role="content" style="height:200px;overflow-y:scroll">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <form class="smart-form" action="">

                                            <fieldset>
                                                <section>
                                                    <div class="row">
                                                        <div class="col col-12" id="selectedArea">

                                                        </div>


                                                    </div>
                                                </section>

                                            </fieldset>



                                        </form>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>

                        </article>


                    </div>



                    <!--/end 地区树-->
                    <!--时间-->

                    <div class="row">


                        <article class="col-sm-12 col-md-6 col-lg-12 sortable-grid ui-sortable">

                            <div id="wid-id-3" class="jarviswidget jarviswidget-color-yellow jarviswidget-sortable col col-md-4" role="widget">

                                <header role="heading">

                                    <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                                    <h2>时间 </h2>
                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                </header>
                                <!-- widget div-->
                                <div role="content" style="height:200px;overflow-y:scroll">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <ul id="Timetree" class="ztree"></ul>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>







                            <div id="wid-id-6" class="jarviswidget jarviswidget-color-yellow jarviswidget-sortable col col-md-8" role="widget">

                                <header role="heading">
                                    <div class="widget-toolbar">
                                        <button type="button" class="btn btn-success  " id="btnSysRoleAdd"
                                                data-bind="click: $root.DeleteSelectedTime">
                                            清空
                                        </button>
                                    </div>
                                    <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                                    <h2>已选时间 </h2>
                                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                </header>
                                <!-- widget div-->
                                <div role="content" style="height:200px;overflow-y:scroll">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <form class="smart-form" action="">

                                            <fieldset>
                                                <section>
                                                    <div class="row">
                                                        <div class="col col-12" id="selectedTime">


                                                        </div>


                                                    </div>
                                                </section>

                                            </fieldset>



                                        </form>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>



                        </article>
                    </div>



                    <!--/end时间-->
                </div>
                <!--/end 参数模块-->
                <!--数据模块-->

                <div id="indicatData" class="row" style="display:none;margin-top:10px;">
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- Widget ID (each widget will need unique ID)-->

                        <div class="jarviswidget jarviswidget-color-yellow" id="wid-id-10" data-widget-editbutton="false">

                            <header>
                                <div class="widget-toolbar">
                                    <button type="button" class="btn btn-success "
                                            data-bind="click: $root.exportToExcel">
                                        <i class="fa fa-sign-in"></i>
                                        导出
                                    </button>
                                </div>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>数据表 </h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">



                                    <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%" >
                                        <thead>
                                            <tr id="firstTableHeadTr0"></tr>
                                            <tr id="firstTableHeadTr1"></tr>
                                        </thead>

                                        <tbody id="firstTableBody"></tbody>

                                    </table>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>


                        <!-- end widget -->
                    </article>

                </div>

                <!--/end 数据模块 -->
                <!--行列转换块-->
                <div id="indicatDataFormat" class="row" style="display:none;margin-top:10px;">
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-yellow" id="wid-id-11" data-widget-editbutton="false">

                            <header>
                                <div class="widget-toolbar">
                                    <button type="button" class="btn btn-success "
                                            data-bind="click: $root.exportToExcel">
                                        <i class="fa fa-sign-in"></i>
                                        导出
                                    </button>
                                </div>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>数据表 </h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <table id="dt_basic_format" class="table table-striped table-bordered table-hover " width="100%">
                                        <thead>
                                            <tr id="secondTableHeadTr0">
                                                
                                            </tr>

                                        </thead>

                                        <tbody id="secontTableBody">
                                            
                                        </tbody>

                                    </table>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->
                    </article>
                </div>
                <!--/end  行列转换块-->
                <!--作图块-->


                <div id="indicatGraphics" class="row" style="display: none;margin-top:10px;">

                </div>

                <!--/end 作图块-->


            </div>
        </div>
        <!-- end row -->
        <!--/SysRole information-->
        <!--Power tree-->
    </div>

</div>



<input type="hidden" value="@ViewBag.LibId" id="hiddenLibId"/>

<script>
    pageSetUp();
    var pagefunction = function () {

        loadScript(genRndURL("/Scripts/templateJS/template.js"), function () {
            loadScript(genRndURL("/js/plugin/datatables/jquery.dataTables.min.js"), function () {
                loadScript(genRndURL("/js/plugin/datatables/dataTables.colVis.min.js"), function () {
                    loadScript(genRndURL("/js/plugin/datatables/dataTables.tableTools.min.js"), function () {
                        loadScript(genRndURL("/js/plugin/datatables/dataTables.bootstrap.min.js"), function () {
                            loadScript(genRndURL("/js/plugin/datatable-responsive/datatables.responsive.min.js"), function () {
                                loadScript(genRndURL("/js/plugin/bootstraptree/bootstrap-tree.min.js"), function () {
                                    loadScript(genRndURL("/js/libs/jquery-ui-1.10.3.min.js"), function () {
                                        loadScript(genRndURL("/PageJs/Common/GuestHome.js"), function () {

                                            GuestHomeRunPage();
                                        });
                                    });
                                });
                            });
                        });
                    });
                });
            });
        });
    };
    pagefunction();
</script>



<!--编写渲染显示数据表格的模板-->
<script id="TbodyTemplate" type="text/html">

    {{each rows as value i}}
    <tr>


        {{each value.cols as v2 m}}
        <td>{{v2.FValue}}</td>
        {{/each}}

    </tr>
    {{/each}}

</script>




<!--编写渲染行列转换数据表格的模板-->

<script id="TBodyFormatTemplate" type="text/html">


    {{each rows as value i}}
    <tr>


        {{each value.cols as v2 m}}
        <td>{{v2.FValue}}</td>
        {{/each}}

    </tr>
    {{/each}}

</script>


