@{
    ViewBag.Title = "指标管理";
}


<!--begin grid code-->
<!--Operation-->
<div class="heading-buttons">


    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa  fa-sitemap  "></i>
            指标管理

        </h1>
    </div>
    <div class="buttons pull-right">


        <button type="button" class="btn btn-warning btn-labeled "
                data-bind="click: $root.backToCate">
            <span class="btn-label">
                <i class="fa fa-mail-reply-all "></i>
            </span>返回
        </button>

        <button type="button" class="btn btn-success btn-labeled "
                data-bind="click: $root.showAddBefore">
            <span class="btn-label">
                <i class="glyphicon glyphicon-plus"></i>
            </span>添加指标
        </button>

        <button type="button" class="btn btn-danger btn-labeled "
                data-bind="click: $root.onDataDeleting">
            <span class="btn-label">
                <i class="glyphicon glyphicon-remove"></i>
            </span>批量删除
        </button>


    </div>
    <div style="clear: both;">
    </div>
</div>
<!--/Operation-->

<section id="widget-grid" class="">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-red" id="wid-id-Usrs" data-widget-colorbutton="false"
         data-widget-editbutton="false"
         data-widget-togglebutton="false"
         data-widget-deletebutton="false" data-widget-custombutton=" false"
         data-widget-sortable="false">
        <header>

            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>指标信息列表</h2>

        </header>

        <!-- widget div-->

        <div>


            <!-- widget content -->
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="btn-group">
                        <form id="formSearch" class="form-inline" role="form">
                            <input type="hidden" id="txtbSrILibID" name="txtbSrILibID" value="@ViewBag.libId" />
                            <div class='form-group' style="display:none">
                                <label class='control-label' for='txtbICateID'>指标类型ID：</label>
                                <input id='txtbSrICateID' name='txtbSrICateID' type='text' value="@ViewBag.cateId" placeholder='指标类型ID' class='form-control' style='width: 120px;' />
                            </div>
                            <div class='form-group'>
                                <label class='control-label' for='txtbSIndName'>指标名：</label>
                                <input id='txtbSrSIndName' name='txtbSrSIndName' type='text' placeholder='指标名' class='form-control' style='width: 120px;' />
                            </div>
                            <div class='form-group'>
                                <label class='control-label' for='txtbSIndCode'>指标代码：</label>
                                <input id='txtbSrSIndCode' name='txtbSrSIndCode' type='text' placeholder='指标代码' class='form-control' style='width: 120px;' />
                            </div>


                            <button class="btn   btn-primary" data-bind="click: $root.search">
                                <i class="fa fa-search"></i> 筛选
                            </button>


                        </form>
                    </div>
                </div>
                <!--end of Toolbar -->
                <div class="table-responsive">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 1%">
                                    <input type="checkbox" value="0" id="headcheck" />
                                </th>
                                <!-- ko foreach: headers -->
                                <th class="center ">
                                    <a href="#" data-bind="text: displayText" style="color: black"></a>
                                    <i class="icon-circle-arrow-up" data-bind="    visible: value == $root.orderBy() && $root.isAsc()"></i>
                                    <i class="icon-circle-arrow-down" data-bind="    visible: value == $root.orderBy() && !$root.isAsc()"></i>
                                </th>

                                <!-- /ko -->
                                <th class="center" style="width: 60px">操作</th>
                            </tr>
                        </thead>
                        <!--table body(Provider list)-->
                        <tbody data-bind="foreach: recordSet">
                            <tr class="selectable" onclick="">
                                <td class="center">
                                    <input type="checkbox" name="userSelector" data-bind="value: Id" />
                                    <input type="hidden" data-bind="value: Id, attr: { id: Id }" />
                                </td>

                                <td class='center'><strong data-bind='text: Id'></strong></td>
                                <td class='center'><strong data-bind='text: SCateName'></strong></td>
                                <td class='center'><strong data-bind='text: SIndName'></strong></td>
                                <td class='center'><strong data-bind='text: SUnit'></strong></td>
                                <td class='center'><strong data-bind='text: SIndCode'></strong></td>
                                <td class='center'><strong data-bind='text: SLibName'></strong></td>

                                <td class="center">
                                    <a href="#" class="btn btn-sm btn-success" data-bind="click: $root.showUpdateModal">
                                        <i><span class="fa fa-pencil"></span></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <!--/table body( Provider list)-->
                    </table>

                </div>
                <!--end of table grid -->

                <div class="widget-footer">

                    <!-- 分页 -->
                    <ul class="pagination pagination-sm">
                        <li>
                            <a data-bind="click: firstPage"><i class="fa fa-fast-backward "></i></a>
                        </li>
                        <li class="paginate_button ">
                            <a data-bind="click: prevPage"><i class="fa  fa-backward  "></i></a>
                        </li>
                        <li class="paginate_button ">
                            <a style="padding:2px 1px;"><input id="toPageaaa" type="text" data-bind="value: pageIndex, event: { change: $root.changePageIndex }" style="width:25px;" /></a>

                        </li>
                        <li class="paginate_button ">
                            <a>
                                /共<span data-bind="html: totalPages"></span>页
                            </a>
                        </li>
                        <li class="paginate_button ">
                            <a data-bind="click: nextPage"><i class="fa fa-forward "></i></a>
                        </li>
                        <li class="paginate_button ">
                            <a data-bind="click: lastPage"><i class="fa fa-fast-forward "></i></a>
                        </li>
                    </ul>

                    <div class="dt-top-row total pull-left " style="margin:18px;">
                        当前记录共：<span data-bind="html: totalCount"></span>条
                    </div>
                    <!--end 分页-->
                </div>

                <!--end of table pager -->



            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->


</section>


<!--DimIndicator详细对话框-->
<div id="DimIndicatorMessageModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="DimIndicatorMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4>
                    指标信息详细
                </h4>
            </div>

            <div class="modal-body">
                <input type='hidden' id='txtbID' name='txtbID' />
                <form class="smart-admin" id="formDimIndicator" data-bind="with: NodeValue">
                    <fieldset>
                        <div class='form-group' style="display:none">
                            <label>指标类型ID:</label><input type='text' id='txtbICateID' name='txtbICateID' placeholder='指标类型ID' class='form-control' data-bind='value:ICateID' />
                        </div>
                        <div class='form-group'>
                            <label>指标名称:</label><input type='text' id='txtbSIndName' name='txtbSIndName' placeholder='指标名称' class='form-control' data-bind='value:SIndName' />
                        </div>
                        <div class='form-group'>
                            <label>指标单位:</label><input type='text' id='txtbSUnit' name='txtbSUnit' placeholder='指标单位' class='form-control' data-bind='value:SUnit' />
                        </div>
                        <div class='form-group'>
                            <label>指标代码:</label><input type='text' id='txtbSIndCode' name='txtbSIndCode' placeholder='指标代码' class='form-control' data-bind='value:SIndCode' />
                        </div>
                        <div class='form-group'>
                            <label>指标说明:</label><textarea id='txtbSIndIntro' name='txtbSIndIntro' placeholder='指标说明' class='form-control' data-bind='value:SIndIntro' rows='3'></textarea>
                        </div>
                        
                        <div class='form-group' style="display:none">
                            <label>库ID,冗余，可能需要:</label><input type='text' id='txtbILibID' name='txtbILibID' placeholder='库ID,冗余，可能需要' class='form-control' data-bind='value:ILibID' />
                        </div>


                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">
                    取消
                </button>
                <button id="btnSaveOrUpdateModel" class="btn btn-primary" aria-hidden="true" data-bind=" click: onDataAddingOrUpdate">
                    确定
                </button>
            </div>
        </div><!--end div content-->


    </div><!--end of dailog  -->
</div>
<!--/详细DimIndicator对话框-->


<script type="text/javascript">

    pageSetUp();
    var pagefunction = function () {
        loadScript(genRndURL("/PageJs/SysUser/DimIndicator.js"), function () {

            DimIndicatorRunPage();
        });
    };
    pagefunction();

</script>
